{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}{{ blog.name }} - المدونات{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blogs/css/blog_detail.css' %}">
{% endblock %}

{% block content %}
<div class="blog-detail fade-in">
    <a href="{% url 'blog_list' %}" class="back-link">
        <i class="fas fa-arrow-right me-2"></i>العودة إلى المدونات
    </a>
    
    <img src="{{ blog.image.url }}" alt="{{ blog.name }}" class="detail-image">
    
    <div class="blog-meta">
        <span><i class="far fa-calendar-alt"></i> {{ blog.created_date }}</span>
    </div>
    
    <h1>{{ blog.name }}</h1>
    
    <p>{{ blog.description }}</p>
</div>
{% endblock %}