{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}الرئيسية - سوق المزارعين{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blogs/css/home.css' %}">
{% endblock %}

{% block content %}

    <!-- GIF Banner (Homepage Only) -->
    <div class="home-gif-banner wow fadeIn">
        <img src="{% static 'blogs/img/Green_and_Cream_Illustrative_Healthy_Food_Presentation_1.gif' %}" 
            alt="سوق المزارعين" 
            class="img-fluid">
    </div>

    <!-- About Section -->
    <section class="scroll-animate">
        <div class="container">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img src="{% static 'blogs/img/Farmers_Team.png' %}" alt="فريق سوق المزارعين" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="about-content">
                        <h1>أفضل الفواكه والخضروات العضوية</h1>
                        <p>تتيح لك سوق المزارعين تجربة المنتجات الطازجة مباشرة من المزارعين المحليين. استمتع بجودة عالية وبيئة مستدامة.</p>
                        
                        <div class="feature-list">
                            <p><i class="fa fa-check"></i>منتجات طازجة يوميًا</p>
                            <p><i class="fa fa-check"></i>دعم المزارعين المحليين</p>
                            <p><i class="fa fa-check"></i>بيئة صديقة للبيئة</p>
                        </div>
                        
                        <a href="about.html" class="btn btn-primary">اقرأ المزيد</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="scroll-animate">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-delay="0.1s">
                <h1>مميزاتنا</h1>
                <p>استمتع بخدماتنا المصممة لتوفير أفضل المنتجات العضوية لعملائنا</p>
            </div>
            
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-card">
                        <img src="{% static 'blogs/img/icon-1.png' %}" alt="عملية طبيعية">
                        <h4>عملية طبيعية</h4>
                        <p>نستخدم طرق زراعة طبيعية لضمان جودة المنتجات.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="feature-card">
                        <img src="{% static 'blogs/img/icon-2.png' %}" alt="منتجات عضوية">
                        <h4>منتجات عضوية</h4>
                        <p>جميع منتجاتنا خالية من المواد الكيميائية الضارة.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="feature-card">
                        <img src="{% static 'blogs/img/icon-3.png' %}" alt="آمنة بيولوجيًا">
                        <h4>آمنة بيولوجيًا</h4>
                        <p>منتجاتنا آمنة ومصممة لتعزيز الصحة.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="scroll-animate">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-delay="0.1s">
                <h1>خدماتنا</h1>
            </div>
            
            <div id="testimonial-carousel" class="carousel slide wow fadeInUp" data-wow-delay="0.2s" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonial-item mx-auto">
                            <p>منتجات رائعة وطازجة، شكرًا سوق المزارعين!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item mx-auto">
                            <p>خدمة ممتازة ومنتجات عالية الجودة.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item mx-auto">
                            <p>التجربة كانت مميزة، سأعود مجددًا!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item mx-auto">
                            <p>منتجات صحية وأسعار مناسبة.</p>
                        </div>
                    </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">السابق</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">التالي</span>
                </button>
            </div>
        </div>
    </section>
    {% include 'about_us/farmers.html'%}
{% endblock %}